<div class="mt-3"></div>
<%= render partial: 'post/layouts/search', locals: { url_search: post_index_path(), params: :user_name_or_title_cont }%>
<%= render partial: 'post/layouts/list_post', locals: { posts: @posts , pagy: @pagy, show_action: false } %>
