<div class="my-3">
  <%= link_to 'Create Post', new_post_path, class: 'text-underline' %>
</div>
<%= render partial: 'post/layouts/list_post', locals: { posts: @posts , pagy: @pagy, show_action: true } %>
