@import "bootstrap";

.nav-item.dropdown.remove-list-style {
    list-style-type: none;
}

.dropdown-menu.show {
    right: -10% !important;
    left: unset;
}

.w-40 {
    width: 40% !important;
}

.card-img-top {
    height: 300px;
    width: 400px;
}
